@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Preahvihear&display=swap');
@import "tailwindcss";

body{
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  color: #fff;
  font-family: 'inter', sans-serif;
  scroll-behavior: smooth;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.bg-gradiente{
  background-image: radial-gradient(rgba(1, 76, 197, 0.082) 0%, #0b0b0b4d 100%);
}
/* h1::after{
  content: '';
 position: absolute;
  top: -160%;
  right: -30%;
  width: 100%;
  height: 110%;
  background: url('../public/apaixonadoCafe.png')no-repeat;
  
} */
@theme{
  --color-primary: #3E82F3;
  --color-black-1: #000;
  --color-black-2: #0B0B0B;
  --color-black-3: #0E0E0E;
  --color-black-4: #151515;
  --color-white: #fff
  --font-inter: "Inter", sans-serif;
  --font-preahvihear: "Preahvihear", sans-serif;
};